.task-list-template {
    background: white;
    width: 400px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */ 
    margin: 0 auto; /* 페이지 중앙 정렬 */
    margin-top: 4rem;
  }
  
  .title {
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
    background: #22b8cf;;
    color: white;
  }
  
  .form-wrapper {
    padding: 1rem;
    border-bottom: 1px solid #22b8cf;
  }
  
  .task-wrapper {
    min-height: 5rem;
    overflow:auto;
    width:400px;
    height: 300px;
    padding:20px;
    scrollbar-face-color:#F2ECE6; 
  }

  .task-wrapper::-webkit-scrollbar {
    width: 20px;
    height: 8px;
    border: 3px solid #fff;
  }
  .task-wrapper::-webkit-scrollbar-button:start:decrement,
  ::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 5px;
    background: #fff;
  }
  .task-wrapper::-webkit-scrollbar-track {
    background: #fff;
    -webkit-border-radius: 10px;
    border-radius:10px;
  }
  .task-wrapper::-webkit-scrollbar-thumb {
    height: 50px;
    width: 50px;
    background: #22b8cf;
  }
  
  
  